.pillBox {
  display: flex;
  flex-direction: row;
  background-color: white;

}

.pillItem {
  font-size: 18px;
  background-color: DimGray;
  margin: 5px 10px;
  padding: 2px 10px;
  border-radius: 50px;
  color: white;
}

#close-btn {
  font-size: 12px;
  padding-left: 15px;
}
